{% extends 'base.html.twig' %}

{% block title %}
{{ parent ()}}Gestion Avis
{% endblock %}

{% block body %}
    <table class="table table-success table-striped mt-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Produit</th>
            <th scope="col">Note</th>
            <th scope="col">Commentaire</th>




            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for avis in avis %}


            <tr>
                <th scope="row">{{  avis.id  }}</th>
                <td>{{ avis.produit.title }}</td>
                <td>{{  avis.note  }}</td>
                <td>{{  avis.commentaire }}</td>



                <td><a href="{{ path('editAvis', {'id': avis.id}) }}" class="btn btn-info">Modifier</a>
                    <a href="{{ path('deleteAvis', {'id': avis.id }) }}" onclick="return confirm('Êtes-vous sûr?')" class="btn btn-danger">Supprimer</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

